<div class="footer">
  <div class="container_">
    <ul class="first">
      <li>
        <img src="../../../assets/images/Logo%202.png" alt="No images">
      </li>
      <li>
        <img src="../../../assets/images/phone.png" alt="No images">
        <span>094 873 843</span>
      </li>
      <li>
        <img src="../../../assets/images/mail.png" alt="No images">
        <span>trainings@it-lab.am</span>
      </li>
      <li>
        <img src="../../../assets/images/bx_map.png" alt="No images">
        <span>Ալեք Մանուկյան 1</span>
      </li>
      <li>
        <a href="https://www.facebook.com" class="fb"></a>
        <a href="https://twitter.com" class="twitter"></a>
        <a href="https://www.linkedin.com" class="in"></a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/home">Գլխավոր</a>
      </li>
      <li>
        <a routerLink="/courses">Դաընթացներ</a>
      </li>
      <li>
        <a href="#start">Ուսուցման ձև</a>
      </li>
      <li>
        <a routerLink="/">Առավելություններ</a>
      </li>
      <li>
        <a href="#reviews">Կարծիք</a>
      </li>
      <li>
        <a href="#questions">Հաճախ տրվող հարցեր</a>
      </li>
      <li>
        <a>Գործընկերներ</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/about-us">Մեր մասին</a>
      </li>
      <li>
        <a href="#top">Առանձնահատկություններ</a>
      </li>
      <li>
        <a routerLink="/about-us">Պատմություն</a>
      </li>
      <li>
        <a routerLink="/courses">Դասընթացավարներ</a>
      </li>
      <li>
        <a href="#students">Ուսանողներ</a>
      </li>
    </ul>
    <ul>
      <li>
        <a  routerLink="/advantages">Մեր առավելությունները</a>
      </li>
      <li>
        <a  routerLink="/courses">Կազմակերպում</a>
      </li>
      <li>
        <a  routerLink="/courses">Գնացուցակ</a>
      </li>
      <li>
        <a  routerLink="/courses">Ուսուցում</a>
      </li>
    </ul>
  </div>
</div>

