.footer {
  background: #06295E;
  padding-top: 62px;
  padding-bottom: 64px;
}

.container_ {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

ul {
  padding: 0;
  margin: 0;
}

.first li {
  width: 210px;
}

.first li:nth-child(2n + 2) {
  margin: 22px 0;
}

.first li span {
  display: inline-block;
  margin-left: 22px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

.first li a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.first li a.fb {
  background-image: url("src/assets/image/jam_facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.first li a.twitter {
  background-image: url("src/assets/image/akar-icons_twitter-fill.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 37px 0 31px;
}

.first li a.in {
  background-image: url("src/assets/image/cib_linkedin-in.png");
  background-size: contain;
  background-repeat: no-repeat;
}

ul:nth-child(2) li a {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

ul:nth-child(2) li:nth-child(2n + 2) {
  margin: 18px 0;
}

ul:nth-child(3) li a {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

ul:nth-child(3) li:nth-child(2n + 2) {
  margin: 18px 0;
}

ul:nth-child(4) li a {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

ul:nth-child(4) li:nth-child(1) {
  margin: 0 0 18px;
}

ul:nth-child(4) li:nth-child(3) {
  margin: 18px 0;
}

@media screen and (max-width: 1400px) {
  .container_ {
    width: 1200px;
  }
}

@media screen and (max-width: 1220px) {
  .container_ {
    width: 1000px;
  }

  .first li:first-child img {
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .container_ {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .first {
    margin-right: 14px;
    margin-bottom: 25px;
  }
}
