.big_menu {
  padding: 0;
  margin: 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.dropdown_menu {
  display: none;
  cursor: pointer;
}
.menu-dropdown-open ul{
  padding: 0;
  margin: 0;
}

.big_menu li, .dropdown ul li, .menu-dropdown-open ul li {
  list-style-type: none;
}

.big_menu li a, .dropdown ul li a, .menu-dropdown-open ul li a {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #06295E;
  padding-bottom: 8px;
}

button.signUp {
  display: inline-block;
  background: #06295E;
  border-radius: 0 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 14px 28px 16px 27px;
  border: none;
  margin-left: 61px;
}

.container_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0 auto;
  padding: 35px 0;
}

.main {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown {
  width: 250px;
  height: 0;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%), 0 0 10px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-dropdown-open {
  width: 250px;
  height: 100vh;
  overflow: visible;
  transition: height 0.8s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%), 0 0 10px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  border-bottom: 2px solid #06295E;
}

.drop_sign-up {
  display: inline-block;
  background: #06295E;
  border-radius: 0 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 14px 28px 16px 27px;
  border: none;
}

.mat-menu-content {
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background: #FFFF;
  width: 364px;
}

.blue {
  background-color: #06295E;
}

.blue .big_menu li a, .blue .dropdown ul li a {
  color: #FCFCFC;
}

.blue button.signUp {
  display: inline-block;
  background: #42975B;
  border-radius: 0 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 14px 28px 16px 27px;
  border: none;
  margin-left: 61px;
}

@media screen and (max-width: 1400px) {
  .container_ {
    width: 1200px;
  }
}

@media screen and (max-width: 1220px) {
  .container_ {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container_ {
    width: 90%;
  }

  .big_menu {
    padding: 0;
    margin: 0;
    display: flex;
    width: 453px;
  }
}

@media screen and (max-width: 950px) {
  .big_menu, button.signUp {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .dropdown_menu {
    width: 80px;
    height: 65px;
  }
}
