<div [ngClass]="{'no-background ': style == '' , 'blue' : style == 'blue'}"  class="main">
  <div class="container_">
  <div class="logo">
    <a routerLink="/home">
      <img *ngIf="style == ''" src="../../../assets/img/Logo.png" alt="No images">
      <img *ngIf="style == 'blue'" src="../../../assets/img/logo2.png" alt="No images">
    </a>
  </div>
  <div class="menu">
    <ul class="big_menu">
      <li *ngFor="let item of menuList">
        <a routerLink="{{item.rout}}" routerLinkActive="active">{{item.title}}</a>
      </li>
      <li>
        <a href="#contact">Կապ</a>
      </li>
    </ul>
    <button type="button" class="signUp" routerLink="/sign-in">Գրանցվել</button>
  </div>
  <img (click)="$event.stopPropagation()" src="../../../assets/img/menu.png" alt="No images" class="dropdown_menu" (click)="openDropDown()">
  </div>
</div>

<div (clickOutside)="onClickedOutside()" [ngClass]="{'menu-dropdown-open': menuIsOpening , 'dropdown':!menuIsOpening}">
  <ul>
    <li *ngFor="let item of menuList">
      <a (click)="openDropDown()" routerLink="{{item.rout}}" routerLinkActive="active">{{item.title}}</a>
    </li>
    <li>
      <a href="#contact">Կապ</a>
    </li>
  </ul>
  <button (click)="openDropDown()" type="button" class="drop_sign-up" routerLink="/sign-in">Գրանցվել</button>
</div>
