.container_ {
  width: 1400px;
  margin: 0 auto;
}
//.advantages_header .container_ .text h1

.advantages_header {
  .container_ {
    .text {
      h1 {
        margin: 0 0 0 0;
        padding: 140px 0 127px 0;
        text-align: center;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 1px;
        color: #06295E;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}


.advantages_header {
  padding-top: 60px;
  background-image: url("../../../assets/img/back4.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 85px;
}

.testing_info .text p {
  margin: 0 0 81px;
  width: 745px;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
}

.testing_info .text .go_testing {
  display: inline-block;
  margin: 0;
  border: none;
  width: 220px;
  height: 50px;
  background: #42975B;
  border-radius: 0 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

.testing_info .container_ {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  margin: 100px 0 50px;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
  text-align: center;
}

.do_teaching {
  margin: 50px 0 50px;
  padding: 0;
  width: 1198px;
  overflow: auto;
}

.do_teaching li {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #000000;

}

.gallery .container_ {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gallery .container_ .gallery_col:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 14px;
}

.gallery .container_ .gallery_col {
  width: 47%;
}

.gallery .container_ .gallery_col:nth-child(2) div:nth-child(1) img {
  margin-bottom: 15px;
}

.gallery .container_ .gallery_col:nth-child(1) img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery .container_ .gallery_col:nth-child(2) div:nth-child(1) img:nth-child(1) {
  display: inline-block;
  margin-right: 14px;
}

.gallery .container_ .gallery_col:nth-child(2) div:nth-child(2) img:nth-child(1) {
  display: inline-block;
  margin-right: 14px;
}

.paragraph_it {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000000;
}

.secoud_gallery .container_ {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 100px;
  margin-top: 50px;
}

.secoud_gallery .container_ .img_ {
  width: 47%;
}

.secoud_gallery .container_ .img_ img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1480px) {
  .container_ {
    width: 1200px;
  }

  .gallery_col div {
    display: flex;
  }

  .gallery .container_ {
    align-items: stretch;
  }

  .paragraph_it {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1350px) {
  .gallery .container_ {
    display: flex;
    justify-content: flex-start;
  }

  .gallery .container_ .img_ {
    width: 47%;
  }

  .gallery .container_ .img_ img {
    width: 100%;
    height: 100%;
  }

  .secoud_gallery .container_ {
    justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .container_ {
    width: 1000px;
  }

  .testing_info .text p {
    margin: 0 0 81px;
    width: 461px;
    font-size: 20px;
    line-height: 26px;
  }

  .do_teaching {
    width: 100%;
    margin-bottom: 25px;
  }

  .gallery .container_ .gallery_col {
    width: 30%;
  }

}

@media screen and (max-width: 1080px) {
  .container_ {
    width: 800px;
  }

  .gallery .container_ {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .testing_info .text p {
    margin: 0 0 81px;
    width: 461px;
    font-size: 20px;
    line-height: 26px;
  }

  .do_teaching {
    width: 100%;
    margin-bottom: 25px;
  }

  .gallery .container_ .gallery_col {
    width: 100%;
  }

  .gallery_col div {
    width: 100%;
  }

  .gallery .container_ .gallery_col:nth-child(1) img {
    margin-top: 25px;
    width: 100%;
  }

  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(1) img:nth-child(1),
  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(2) img:nth-child(2) {
    width: 30%;
  }

  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(1) img:nth-child(1) {
    margin-right: 5%;
  }

  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(2) img:nth-child(2) {
    margin-left: 5%;
  }

  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(1) img:nth-child(2),
  .gallery .container_ .gallery_col:nth-child(2) div:nth-child(2) img:nth-child(1) {
    width: 60%;
  }

  .testing_info .container_ {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .testing_info .text p {
    margin: 25px 0 81px;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
  }

}

@media screen and (max-width: 880px) {
  .container_ {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .testing_info .container_ .img img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .gallery .container_ {
    justify-content: center;
    align-items: center;
  }
}
