<section class="advantages_header">
  <div class="container_">
    <div class="text">
      <h1>Առավելություններ</h1>
    </div>
  </div>
</section>
<section class="testing_info">
  <div class="container_">
    <div class="text">
      <p>Եթե դուք չեք կողմնորոշվում ձեր մասնագիտության հարցում թե ինչ ընտրել մենք ձեզ կօգնենք</p>
      <button class="go_testing">Անցնել թեստ</button>
    </div>
    <div class="img">
      <img src="../../../assets/images/kisspng-lake-sumter-state-college-student-education-univer-5d0a1c127df303%201.png"
           alt="No images">
    </div>
  </div>
</section>
<h2>Դասընթացի կազմակերպում</h2>
<div class="container_">
  <ul class="do_teaching">
    <li>
      Տարիքային սահմանափակում՝ սկսած 16 տարեկանից։
    </li>
    <li>
      🔹 Յուրաքանչյուր փուլից հետո ուսանողները հանձնում են քննություն, որի արդյունքներից կախված հնարավորություն են
      ստանում շարունակել դասընթացների շարքը։
    </li>
    <li>
      🔹 Full Stack վեբ ծրագրավորման դասընթացի լավագույն ուսանողները հնարավորություն կստանան պրակտիկայի անցնել Brain
      Fors-ընկերությունում և կստանան cash back ընդհանուր վարձավճարի 50% չափով։
    </li>
    <li>
      🔹 Դասընթացները հեռավար ՉԵՆ, անցկացվելու են Gyumri IT Lab կենտրոնում՝ Ալեք Մանուկյան 1 հասցեով։
    </li>
  </ul>
</div>
<section class="gallery">
  <div class="container_">
    <div class="gallery_col">
      <img src="../../../assets/images/Rectangle%20325.png" alt="No images">
    </div>
    <div class="gallery_col">
      <div>
      <img src="../../../assets/images/Rectangle%2045.png" alt="No images">
      <img src="../../../assets/images/Rectangle%2046.png" alt="No images">
      </div>
      <div>
      <img src="../../../assets/images/Rectangle%20324.png" alt="No images">
      <img src="../../../assets/images/Rectangle%20322.png" alt="No images">
      </div>
    </div>
  </div>
</section>
<h2>Ուսուցման կազմակերպում</h2>
<div class="container_">
  <p class="paragraph_it">
    ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և, մասնավորապես ծրագրավորումը մեր օրերում պահանջված
    մասնագիտություն է․
    ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով,
    որ 3-5 ամսում ծրագրավորող չեն դառնում։
    Gyumri IT Lab-ը ծրագրավորման ուսուցման  նորաբաց կենտրոն է Գյումրիում,
    որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ,
    այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։
    Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և խորացված գիտելիքներ ոլորտում փորձառու
    մասնագետների օգնությամբ։
    Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։
  </p>
</div>
<section class="secoud_gallery">
  <div class="container_">
    <div class="img_">
      <img src="../../../assets/images/Rectangle%20316.png" alt="No images">
    </div>
    <div class="img_">
      <img src="../../../assets/images/Rectangle%2036.png" alt="No images">
    </div>
  </div>
</section>
