<section class="home_header">
  <div class="container_">
    <div class="text">
      <h2>Որակյալ կրթությունը կարեվոր է</h2>
      <p>
        Gyumri IT Lab-ը ծրագրավորման կրթական կենտրոն է,
        որտեղ ուսուցանվում են ծրագրավորման տարբեր լեզուներ և տեխնոլոգիաներ</p>
    </div>
    <div class="img">
      <img src="../../../assets/img/kisspng-student-portable-network-graphics-school-college-h-5c63b40e29f767%201.png"
           alt="No images">
    </div>
  </div>
</section>
<section class="lessons">
  <h2 class="section_title">Դասընթացներ</h2>
  <c-carousel [animate]="true" transition="slide" [interval]="5000">
    <c-carousel-inner>
      <c-carousel-item>
        <div class="course">
          <div class="course_col" *ngFor="let item of courses">
            <div class="img">
              <img src="{{item.image}}" alt="No images">
            </div>
            <div class="text">
              <ul>
                <li>
                  <img src="../../../assets/img/clarity_book-line.png" alt="No images">
                  <span>{{item.lesson_number}}</span>
                </li>
                <li>
                  <img src="../../../assets/img/akar-icons_calendar.png" alt="No images">
                  <span>{{item.start_date}}</span>
                </li>
              </ul>
              <p class="price">
                {{item.price}}
              </p>
              <h3 class="course_name">{{item.lesson_name}}</h3>
              <p class="about_course">
                {{item.about_lesson}}
              </p>
              <div class="button_learn_block">
                <button type="button" routerLink="/morecourse" class="learn_more">
                  Տեսնել ավելին
                </button>
              </div>
            </div>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="course">
          <div class="course_col" *ngFor="let item of courses">
            <div class="img">
              <img src="{{item.image}}" alt="No images">
            </div>
            <div class="text">
              <ul>
                <li>
                  <img src="../../../assets/img/clarity_book-line.png" alt="No images">
                  <span>{{item.lesson_number}}</span>
                </li>
                <li>
                  <img src="../../../assets/img/akar-icons_calendar.png" alt="No images">
                  <span>{{item.start_date}}</span>
                </li>
              </ul>
              <p class="price">
                {{item.price}}
              </p>
              <h3 class="course_name">{{item.lesson_name}}</h3>
              <p class="about_course">
                {{item.about_lesson}}
              </p>
              <div class="button_learn_block">
                <button type="button" routerLink="/morecourse" class="learn_more">
                  Տեսնել ավելին
                </button>
              </div>
            </div>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="course">
          <div class="course_col" *ngFor="let item of courses">
            <div class="img">
              <img src="{{item.image}}" alt="No images">
            </div>
            <div class="text">
              <ul>
                <li>
                  <img src="../../../assets/img/clarity_book-line.png" alt="No images">
                  <span>{{item.lesson_number}}</span>
                </li>
                <li>
                  <img src="../../../assets/img/akar-icons_calendar.png" alt="No images">
                  <span>{{item.start_date}}</span>
                </li>
              </ul>
              <p class="price">
                {{item.price}}
              </p>
              <h3 class="course_name">{{item.lesson_name}}</h3>
              <p class="about_course">
                {{item.about_lesson}}
              </p>
              <div class="button_learn_block">
                <button type="button" routerLink="/morecourse" class="learn_more">
                  Տեսնել ավելին
                </button>
              </div>
            </div>
          </div>
        </div>
      </c-carousel-item>
      <c-carousel-item>
        <div class="course">
          <div class="course_col" *ngFor="let item of courses">
            <div class="img">
              <img src="{{item.image}}" alt="No images">
            </div>
            <div class="text">
              <ul>
                <li>
                  <img src="../../../assets/img/clarity_book-line.png" alt="No images">
                  <span>{{item.lesson_number}}</span>
                </li>
                <li>
                  <img src="../../../assets/img/akar-icons_calendar.png" alt="No images">
                  <span>{{item.start_date}}</span>
                </li>
              </ul>
              <p class="price">
                {{item.price}}
              </p>
              <h3 class="course_name">{{item.lesson_name}}</h3>
              <p class="about_course">
                {{item.about_lesson}}
              </p>
              <div class="button_learn_block">
                <button type="button" routerLink="/morecourse" class="learn_more">
                  Տեսնել ավելին
                </button>
              </div>
            </div>
          </div>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"
                        style="color: #42975B;font-size: 33px; padding-left: 30px;padding-right: 32px;">
      <
    </c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"
                        style="color: #42975B;font-size: 33px;padding-right: 32px;">
      >
    </c-carousel-control>
  </c-carousel>
</section>
<section class="our_advantages">
  <div class="container_">
    <h2 class="advantages_title">Մեր առավելությունները</h2>
    <div class="row">
      <div class="col">
        <ul>
          <li>
            <img src="../../../assets/img/circle-check.png" alt="No images">
            <span>Խորացված բազային գիտելիքներ</span>
          </li>
          <li>
            <img src="../../../assets/img/circle-check.png" alt="No images">
            <span>Ուսուցում փորձառու մասնագետի հետ</span>
          </li>
          <li>
            <img src="../../../assets/img/circle-check.png" alt="No images">
            <span>Պրակտիկայի և աշխատանքի հնարավորություն</span>
          </li>
          <li>
            <img src="../../../assets/img/circle-check.png" alt="No images">
            <span>Վարձավճարի 50% փոխհատուցում</span>
          </li>
          <li>
            <img src="../../../assets/img/circle-check.png" alt="No images">
            <span>Լավագույններին աշխատանքի տեղավորում</span>
          </li>
        </ul>
        <div class="learn_more_block">
          <button class="learn_more" routerLink="/advantages">Իմանալ Ավելին</button>
        </div>
      </div>
      <div class="col">
        <div class="img_block">
          <img src="../../../assets/img/Rectangle%20328.png" alt="No images">
          <img src="../../../assets/img/Rectangle%20327.png" alt="No images">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="lesson_type">
  <div class="container_">
    <h2 class="type_title">Ուսուցման ձև</h2>
    <div class="row">
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/kisspng-new-horizon-college-of-engineering-university-and-student-5aca74f17704f4%201.png"
               alt="No images">
        </div>
        <h4 class="type">Օֆֆլան</h4>
        <div class="subscribe">
          <button>Գրանցվել</button>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/kisspng-study-skills-learning-course-student-training-5b9ba929b7fe19%201.png"
               alt="No images">
        </div>
        <h4 class="type">Օֆֆլան</h4>
        <div class="subscribe">
          <button>Գրանցվել</button>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img
            src="../../../assets/img/kisspng-stock-photography-student-education-college-e-lear-english-institute-english-institute-5cf871db1e9669%201.png"
            alt="No images">
        </div>
        <h4 class="type">Օֆֆլան</h4>
        <div class="subscribe">
          <button>Գրանցվել</button>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/photoscape-5ba37dc764fd95%201.png" alt="No images">
        </div>
        <h4 class="type">Օֆֆլան</h4>
        <div class="subscribe">
          <button>Գրանցվել</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="start" class="start_lesson">
  <div class="container_">
    <div class="text">
      <div class="start_title">
        <h2>դասըթացի սկզբին մնացել է</h2>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <span>6</span>
            օր
          </p>
        </div>
        <div class="col">
          <p>
            <span>3</span>
            ժամ
          </p>
        </div>
        <div class="col">
          <p>
            <span>12</span>
            րոպե
          </p>
        </div>
        <div class="col">
          <p>
            <span>40</span>
            վրկ
          </p>
        </div>
      </div>
    </div>
    <div class="form_subsribe_block">
      <div class="title_block">
        <h4>Գրանցվիր հիմա</h4>
        <p>Գրանցվիր մեր դասընթացներին և ձեռք բեր արդի մասնագիտություն։</p>
      </div>
      <form>
        <div>
          <input type="text" placeholder="Անուն" pattern="/[^A-Z]/">
        </div>
        <div>
          <input type="email" placeholder="Էլ․հասցե">
        </div>
        <div>
          <input type="tel" placeholder="Հեռ․" pattern="/^[a-z]/">
        </div>
        <div class="creat_user">
          <button type="button">Գրանցվել</button>
        </div>
      </form>
    </div>
  </div>
</section>
<h2 class="lesson_create_title">Դասընթացի կազմակերպում</h2>
<section id="lessons" class="lesson_create">
  <div class="container_">
    <div class="about">
      <p>  ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և,
        մասնավորապես ծրագրավորումը մեր օրերում պահանջված մասնագիտություն է․
        ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով,
        որ 3-5 ամսում ծրագրավորող չեն դառնում։
        Gyumri IT Lab-ը ծրագրավորման ուսուցման  նորաբաց կենտրոն է Գյումրիում,
        որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ,
        այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։
        Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և
        խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։
        Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով,
        որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։ </p>
    </div>
  </div>
</section>
<section id="reviews" class="reviews">
  <div class="container_">
    <h2 class="reviews_title">Կարծիքներ</h2>
    <p class="sub_title">Մեր ուսանողների կարծիքը մեր մասին։</p>
    <div class="row">
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/Frame%20372.png" alt="No images">
        </div>
        <h4 class="name">Եվա Բաղդասարյան</h4>
        <p class="type">Ուսանող</p>
        <div class="rating">
          <img src="../../../assets/img/Star.png" *ngFor="let i of stars" alt="No images">
        </div>
        <p class="description">
          Շատ շնորհակալ եմ գիտելիքների և օգնության համար։
          Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
        </p>
      </div>
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/Frame%20373.png" alt="No images">
        </div>
        <h4 class="name">Արամ Արամյան</h4>
        <p class="type">Ուսանող</p>
        <div class="rating">
          <img src="../../../assets/img/Star.png" *ngFor="let i of stars" alt="No images">
        </div>
        <p class="description">
          Շատ շնորհակալ եմ գիտելիքների և օգնության համար։
          Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
        </p>
      </div>
      <div class="col">
        <div class="img">
          <img src="../../../assets/img/Frame%20374.png" alt="No images">
        </div>
        <h4 class="name">Անի Հարոյան</h4>
        <p class="type">Պրակտիկանտ</p>
        <div class="rating">
          <img src="../../../assets/img/Star.png" *ngFor="let i of stars" alt="No images">
        </div>
        <p class="description">
          Շատ շնորհակալ եմ գիտելիքների և օգնության համար։
          Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
        </p>
      </div>
    </div>
  </div>
</section>
<section id="questions" class="questions">
  <h2 class="question_title">Հաճախ տրվող հարցեր</h2>
  <div class="container_">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ինչպե՞ս որոշել իմ գիտելիքների մակարդակը:
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Կարող եք անցնել մեր կողմից պատրաստած թետը
            <a class="go_testing">Անցնել թետը</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ի՞նչ է պետք սովորելու համար:
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Համակարգիչ, ինտերնետ և սովորելու մեծ ցանկություն 😉
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Կա՞ն զեղչեր:
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Full Stack վեբ ծրագրավորման դասընթացի լավագույն ուսանողները
            հնարավորություն կստանան պրակտիկայի անցնել Brain Fors-ընկերությունում և կստանան cash back ընդհանուր վարձավճարի  50% չափով։
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Ինչպե՞ս են անցնում դասերը:
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Դասընթացները հեռավար ՉԵՆ, անցկացվելու են Gyumri IT Lab կենտրոնում՝ Ալեք Մանուկյան 1 հասցեով։
          </div>
        </div>
      </div>
    </div>
    <div class="have_question_button">
      <button (click)="openModal(havequestion)">ԴԵՌ ՀԱՐՑ ՈՒՆԵ՞Ք</button>
    </div>
  </div>
</section>
<section id="contact" class="connect_with_us">
  <div class="container_">
    <h2 class="connect_title">Կապ մեզ հետ</h2>
    <div class="data">
      <div class="contact">
        <ul>
          <li>
            <span>Զանգահարեք մեզ</span>
            <span>+374 (94) 873-843</span>
          </li>
          <li>
            <span>Մեր էլ․հասցեն</span>
            <span>trainings@it-lab.am</span>
          </li>
          <li>
            <span>Հետևեք մեզ</span>
            <span>
              <a href="https://www.facebook.com" class="fb"></a>
              <a href="https://twitter.com" class="twitter"></a>
              <a href="https://www.linkedin.com" class="in"></a>
            </span>
          </li>
        </ul>
        <h4>Գրանցվեք տեղեկագրի համար</h4>
        <form>
          <div class="input_block">
            <input type="email" placeholder="Էլ․հասցե">
          </div>
          <div class="creat_button">
            <button routerLink="/sign-in">Գրանցվել</button>
          </div>
        </form>
      </div>
      <div class="map">
        <img src="../../../assets/img/map.png" alt="No images">
      </div>

    </div>
  </div>
</section>


<ng-template #havequestion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ունեք հարցեր</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div>
        <input type="text" placeholder="Անուն"  formControlName="name">
        <input type="text" placeholder="Ազգանուն">
      </div>
      <div>
        <input type="email" formControlName="email" placeholder="Էլ․ հասցե">
        <input type="number" style="-webkit-appearance: none;" placeholder="Հեռախոս" formControlName="tel">
      </div>
      <div>
        <textarea [placeholder]="'Հաղորդագրություն'" formControlName="desc"></textarea>
      </div>
      <div>
        <button type="button" (click)="modalRef?.hide()" [disabled]="form.invalid">Ուղարկել</button>
      </div>
    </form>
  </div>
</ng-template>

