.container_ {
  width: 1400px;
  margin: 150px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form form div input {
  border: 1px solid #06295E;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  padding-left: 13px;
}

.form form div input::placeholder {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #2C4360;
  opacity: 0.4;
}

.form form div:nth-child(2) {
  margin: 22px 0;
}

.form form div:last-child {
  margin-top: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.form form div:last-child button {
  display: inline-block;
  background: #06295E;
  border-radius: 0px 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  padding: 13px 53px;
  letter-spacing: 1px;
  color: #FCFCFC;
}

.form h2 {
  margin: 0 0 26px 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #06295E;
  text-align: center;
}

.other .line_1 {
  display: inline-block;
  border: none;
  outline: none;
  width: 163px;
  height: 2px;
  background-color: rgba(196, 196, 196, 0.82);
}

.other .line_2 {
  display: inline-block;
  border: none;
  outline: none;
  width: 150px;
  height: 2px;
  background-color: rgba(196, 196, 196, 0.82);
}

.other span {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #06295E;
  padding: 0 2px;
}

.other {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.dropdown{*/
/*  width: 0;*/
/*  height: 0;*/
/*  overflow: hidden;*/
/*  position: fixed;*/
/*  z-index: 55;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  background-color: #FFFFFF;*/
/*  transition: height 0.8s;*/
/*}*/

/*.dropdown_menu{*/
/*  display: none;*/
/*}*/

@media screen and (max-height: 1400px) {
  .container_ {
    width: 1200px;
  }

}

@media screen and (max-width: 1280px) {
  .container_ {
    width: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .container_ .img img {
    width: 450px;
  }
}

@media screen and (max-width: 1080px) {
  .container_ {
    width: 800px;
    align-items: stretch;
  }

  .container_ .img img {
    width: 390px;
  }
}

@media screen and (max-width: 880px) {
  .container_ {
    width: 95%;
  }
}

@media screen and (max-width: 800px){
  .container_ {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .form h2{
    margin-top: 15px;
  }
  .container_ .img{
    text-align: center;
  }
  .container_ .img img {
    width: 70%;
  }
}

@media screen and (max-width: 360px){
  .form form div input {
    width: 260px;
  }
  .form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .socials {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .socials a:nth-child(2){
    margin: 5px 0;
  }
}
