<header>
  <div class="main">
    <div class="logo">
      <a routerLink=""><img src="assets/image/logo2.png" alt="No images"></a>
    </div>
    <div class="menu">
      <ul class="big_menu">
        <li>
          <a routerLink="/home">Գլխավոր</a>
        </li>
        <li>
          <a routerLink="/about-us">Մեր մասին</a>
        </li>
        <li>
          <a routerLink="/courses">Դասընթացներ</a>
        </li>
        <li>
          <a href="#contact">Կապ</a>
        </li>
      </ul>
      <button type="button" routerLink="/sign-in" class="signUp big_menu">Գրանցվել</button>
      <img src="assets/image/menu.png" alt="No images" class="dropdown_menu"
           (mouseleave)="closeDropDown()" (click)="openDropDown()">
    </div>
  </div>

  <div class="dropdown" (mouseenter)="openDropDown()" (mouseleave)="closeDropDown()">
    <div class="menu">
      <ul>
        <li>
          <a routerLink="/home">Գլխավոր</a>
        </li>
        <li>
          <a routerLink="/about-us">Մեր մասին</a>
        </li>
        <li>
          <a routerLink="/courses">Դասընթացներ</a>
        </li>
        <li>
          <a href="#contact">Կապ</a>
        </li>
      </ul>
      <button type="button" routerLink="/sign-in" class="signUp">Գրանցվել</button>
    </div>
  </div>
</header>
<div class="container_">
  <div class="img">
    <img
      src="assets/image/kisspng-test-of-english-as-a-foreign-language-toefl-inte-university-students-5adc6481f37037%202.png"
      alt="No images">
  </div>
  <div class="form">
    <h2>Գրանցվել</h2>
    <form>
      <div>
        <input type="text" placeholder="Անուն Ազգանուն">
      </div>
      <div>
        <input type="email" placeholder="Էլ հասցե">
      </div>
      <div>
        <input type="tel" placeholder="Հեռախոսահամար">
      </div>
      <div class="creat_button">
        <button>Գրանցվել</button>
      </div>
    </form>
    <div class="other">
      <hr class="line_1"><span>կամ</span><hr class="line_2">
    </div>
    <div class="socials">
      <a><img src="assets/image/Frame%20376.png" alt="No images"></a>
      <a><img src="assets/image/Frame%20377.png" alt="No images"></a>
      <a><img src="assets/image/Frame%20378.png" alt="No images"></a>
    </div>
  </div>
</div>
<app-footer></app-footer>
