<div class="container_">
  <div class="img">
    <img
      src="../../../assets/images/kisspng-test-of-english-as-a-foreign-language-toefl-inte-university-students-5adc6481f37037%202.png"
      alt="No images">
  </div>
  <div class="form">
    <h2>Գրանցվել</h2>
    <form>
      <div>
        <input type="text" placeholder="Անուն Ազգանուն">
      </div>
      <div>
        <input type="email" placeholder="Էլ հասցե">
      </div>
      <div>
        <input type="tel" placeholder="Հեռախոսահամար">
      </div>
      <div class="creat_button">
        <button>Գրանցվել</button>
      </div>
    </form>
    <div class="other">
      <hr class="line_1"><span>կամ</span><hr class="line_2">
    </div>
    <div class="socials">
      <a><img src="../../../assets/images/google.png" alt="No images"></a>
      <a><img src="../../../assets/images/Frame%20377.png" alt="No images"></a>
      <a><img src="../../../assets/images/Frame%20378.png" alt="No images"></a>
    </div>
  </div>
</div>
