<app-header></app-header>
<section class="about-us-header">
  <div class="container_">
    <div class="text">
      <h1>Մեր մասին</h1>
    </div>
  </div>
</section>
<div class="container_">
  <h2>Մեր պատմությունը</h2>
</div>
<div class="about-us">
  <div class="container_">
    <div class="text">
      <p> ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և,
        մասնավորապես ծրագրավորումը մեր օրերում պահանջված մասնագիտություն է․
        ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով, որ
        3-5 ամսում ծրագրավորող չեն դառնում։
        Gyumri IT Lab-ը ծրագրավորման ուսուցման նորաբաց կենտրոն է Գյումրիում,
        որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց,
        ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ,
        այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։
        Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և
        խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։
        Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան
        սարքավորումներ։
      </p>
    </div>
    <div class="img_block">
      <img src="assets/image/Rectangle%20328.png" alt="No image">
      <img src="assets/image/Rectangle%20327.png" alt="No image">
    </div>
  </div>
</div>
<div class="container_">
  <h2>Ինչն է մեզ առանձնահատուկ դարձնում</h2>
</div>
<div id="top" class="me-are-top-row">
  <div class="container_">
    <div class="coll">
      <h3 class="title_col">Հարմար ուսուցման ձև</h3>
      <p class="subtitle">Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։</p>
      <div class="img">
        <img
          src="assets/image/kisspng-international-student-study-skills-higher-educatio-college-student-5aeb585235a651%202.png"
          alt="No images">
      </div>
    </div>
    <div class="coll">
      <h3 class="title_col">Առաջնորդի փորձաքննություն</h3>
      <p class="subtitle">Մեր դասընթացների շնորհիվ դուք ձեռք կբերեք առաջնորդին բնորոշ մտածողություն։ </p>
      <div class="img">
        <img src="assets/image/kisspng-sat.png"
             alt="No images">
      </div>
    </div>
    <div class="coll">
      <h3 class="title_col">Հուսալիություն և որակ</h3>
      <p class="subtitle">Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։</p>
      <div class="img">
        <img src="assets/image/kisspng.png"
             alt="No images">
      </div>
    </div>
  </div>
</div>
<div class="container_">
  <h2>Դասընթացավարներ</h2>
</div>
<div class="teachers">
  <div class="container_">
    <c-carousel [animate]="true" transition="crossfade" [interval]="120000">
      <c-carousel-indicators></c-carousel-indicators>
      <c-carousel-inner>
        <c-carousel-item>
          <div class="teacher">
            <div class="img">
              <img src="assets/image/Rectangle%2054.png" alt="No images">
            </div>
            <div class="abouet_teacher">
              <h4>Անի Արամյան</h4>
              <h3>Ծրագրավորման հիմունքներ</h3>
              <ul>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Ծրագորավորման 15 տարվա փորձ</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Դիպլոմային աշխատանքների ղեկավարում</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Քննական հանձնաժողովների նախագահում</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Դասավանդման տարիների փորձ</span>
                </li>
              </ul>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="teacher">
            <div class="img long_list_">
              <img src="assets/image/Rectangle 544.png" alt="No images">
            </div>
            <div class="abouet_teacher">
              <h4>Գուրգեն Ղարիբյան</h4>
              <h3>Full stack PHP դասընթացի դասընթացավար</h3>
              <ul class="long_list">
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Հայաստանի Մայքրոսոֆթ ինովացիոն կենտրոնի և Գյումրու տեղեկատվական տեխնոլոգիաների
                  կենտրոնի (GITC) կողմից համատեղ իրականացվող
                  «Ծրագրավորման դասընթացներ Գյումրիում» ծրագրի շրջանակներում եղել է
                  «Full Stack with JavaScript» դասընթացի թրեյներ։</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Դիպլոմային և կուրսային աշխատանքների վերահսկում Հայաստանի ազգային
                  պոլիտեխնիկական համալսարանի Գյումրու մասնաճյուղում,
                  Շիրակի պետական համալսարանում և Շիրակի պետական տարածքային քոլեջում:</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Շիրակի պետական համալսարանի բնագիտության և մաթեմատիկական ֆակուլտետի խորհրդի անդամ է
                <span class="see_more" (click)="seeMore()"> ... ավելին</span></span>
                </li>

                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Շիրակի պետական մարզային քոլեջի ՏՏ բաժնի քննական հանձնաժողովի նախագահն է</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Նա երկակի կրթական ծրագրի շրջանակներում «ՏՏ բիզնեսի համար, ՏՏ հանուն կրթության» նախագծի հեղինակ է</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Brain Fors ծրագրային ապահովման ընկերության հիմնադիր:</span>
                </li>
              </ul>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="teacher">
            <div class="img">
              <img src="assets/image/Rectangle%2054.png" alt="No images">
            </div>
            <div class="abouet_teacher">
              <h4>Անի Արամյան</h4>
              <h3>Ծրագրավորման հիմունքներ</h3>
              <ul>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Ծրագորավորման 15 տարվա փորձ</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Դիպլոմային աշխատանքների ղեկավարում</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Քննական հանձնաժողովների նախագահում</span>
                </li>
                <li>
                  <img src="assets/image/circle-check.png" alt="No images">
                  <span>Դասավանդման տարիների փորձ</span>
                </li>
              </ul>
            </div>
          </div>
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-indicators></c-carousel-indicators>
    </c-carousel>
  </div>
</div>
<div class="container_">
  <h2>Ուսանողներ</h2>
</div>
<div id="students" class="students">
    <c-carousel [animate]="true" transition="crossfade" [interval]="60000">
      <c-carousel-inner>
        <c-carousel-item>
          <div class="student">
            <div class="img">
              <img src="assets/image/Rectangle%20326.png" alt="No images">
              <h3>Մովսես մովսեսյան</h3>
            </div>
            <div class="about_student">
              <p> Եկեք հերթով ծանոթանանք մեր հաջողակ ուսանողների պատմության հետ։
                Մովսեսը արդեն հաջողությաբ ավարտել է << Ծրագրավորման հիմունքներ>> դասընթացը և պատմում է,
                որ ճիշտ է կան բազմաթիվ դժվարություններ, բայց պետք է համառ լինել ու գնալ առաջ,
                պետք է չկոտրվել ու կիսատ չթողնել ուսումը։
                Հիմա Մովսեսը անցնում է պրակտիկա Գյումրիում լավագույն IT գրասենյակներից մեկում՝ BrainFors-ում։
                Մաղթում եմ Մովսեսին նորանոր հաջողություններ։</p>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="student">
            <div class="img">
              <img src="assets/image/Rectangle%20326.png" alt="No images">
              <h3>Մովսես մովսեսյան</h3>
            </div>
            <div class="about_student">
              <p> Եկեք հերթով ծանոթանանք մեր հաջողակ ուսանողների պատմության հետ։
                Մովսեսը արդեն հաջողությաբ ավարտել է << Ծրագրավորման հիմունքներ>> դասընթացը և պատմում է,
                որ ճիշտ է կան բազմաթիվ դժվարություններ, բայց պետք է համառ լինել ու գնալ առաջ,
                պետք է չկոտրվել ու կիսատ չթողնել ուսումը։
                Հիմա Մովսեսը անցնում է պրակտիկա Գյումրիում լավագույն IT գրասենյակներից մեկում՝ BrainFors-ում։
                Մաղթում եմ Մովսեսին նորանոր հաջողություններ։</p>
            </div>
          </div>
        </c-carousel-item>
        <c-carousel-item>
          <div class="student">
            <div class="img">
              <img src="assets/image/Rectangle%20326.png" alt="No images">
              <h3>Մովսես մովսեսյան</h3>
            </div>
            <div class="about_student">
              <p> Եկեք հերթով ծանոթանանք մեր հաջողակ ուսանողների պատմության հետ։
                Մովսեսը արդեն հաջողությաբ ավարտել է << Ծրագրավորման հիմունքներ>> դասընթացը և պատմում է,
                որ ճիշտ է կան բազմաթիվ դժվարություններ, բայց պետք է համառ լինել ու գնալ առաջ,
                պետք է չկոտրվել ու կիսատ չթողնել ուսումը։
                Հիմա Մովսեսը անցնում է պրակտիկա Գյումրիում լավագույն IT գրասենյակներից մեկում՝ BrainFors-ում։
                Մաղթում եմ Մովսեսին նորանոր հաջողություններ։</p>
            </div>
          </div>
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
<app-footer></app-footer>
