header .menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

header .menu ul li {
  list-style-type: none;
}

header .menu ul li a {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding-bottom: 8px;
}

.main button.signUp {
  display: inline-block;
  background: #42975B;
  border-radius: 0 20px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 14px 28px 16px 27px;
  border: none;
  margin-left: 61px;
}

header .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}

header .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

header {
  background-color: #06295E;
  padding: 22px 0 34px;
}

.active {
  border: none;
}

.container_ {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  margin: 100px 0 42px;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
}

.about_course ul {
  margin: 0;
  padding: 0;
}

.about_course ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_course ul li:nth-child(2n +2) {
  margin: 20px 0;
}

.about_course ul li span {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #101010;
}

.about_course h4 {
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #101010;
}

.about_course p {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000000;
  width: 623px;
  overflow: auto;
}

.about_course .creat_button_block {
  text-align: right;
  margin-bottom: 100px;
}

.about_course .creat_button_block button {
  background: #06295E;
  border-radius: 0px 20px;
  display: inline-block;
  width: 220px;
  height: 50px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 13px 52px;
}

.dropdown {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 55;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF;
  transition: height 0.8s;
}

.dropdown_menu {
  display: none;
}

@media screen and (max-height: 1400px) {
  .container_ {
    width: 1200px;
  }

  header .main {
    width: 1200px;
  }

  .container_ .img img {
    width: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .container_ {
    width: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  header .main {
    width: 1000px;
  }

  .container_ .img img {
    width: 450px;
  }

  .about_course {
    width: 523px;
  }

  .about_course p {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .container_ {
    width: 800px;
    align-items: stretch;
  }

  header .main {
    width: 800px;
  }

  header button.signUp {
    margin-left: 39px;
  }

  header .menu ul {
    width: 416px;
    justify-content: space-between;
    align-items: center;
  }

  header .menu ul li a {
    font-size: 15px;
  }

  .container_ .img img {
    width: 345px;
  }

  .about_course {
    width: 412px;
  }
}

@media screen and (max-width: 880px) {
  .container_ {
    width: 95%;
  }

  header .main {
    width: 100%;
  }
}

@media screen and (max-width: 811px) {
  .container_ {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  button.signUp {
    display: inline-block;
    background: #42975B;
    border-radius: 0 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FCFCFC;
    padding: 14px 28px 16px 27px;
    border: none;
    margin-left: 61px;
  }

  .about_course {
    width: 100%;
  }

  .dropdown_menu {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  header .menu ul.big_menu, .menu button.big_menu {
    display: none;
  }

  header .menu ul {
    padding: 0;
    margin: 50px 0 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  header .menu ul li a {
    color: #06295e;
  }

  header .menu ul li:nth-child(1n + 2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 430px){
  .about_course ul li span {
    font-size: 14px;
  }
  .about_course h4 {
    font-size: 18px;
  }
}
