<h2 class="title">Ծրագրավորման հիմունքներ</h2>
<div class="container_">

  <div class="img">
    <img
      src="../../../assets/images/20944118%201.png"
      alt="No images">
  </div>
  <div class="about_course">
    <ul>
      <li>
        <span>Արժեքը</span>
        <span>30,000 դրամ</span>
      </li>
      <li>
        <span>Տևողությունը</span>
        <span>1 ամիս</span>
      </li>
      <li>
        <span>Սկիզբը</span>
        <span>25․02․2022</span>
      </li>
      <li>
        <span>Դասընթացավար</span>
        <span>Գուրգեն Ղարիբյան</span>
      </li>
    </ul>
    <h4>Ո՞վ է Full stack ծրագրավորողը  </h4>
    <p>
      Full stack ծրագրավորողները ամեն գործի վարպետներ են։ Նրանք կարող են
      աշխատելև որպես front end և back end, այն է կարող են մշակել վեբ հավելված սկզբից մինչև վերջ։
      Full stack վեբ ծրագրավորողները պետք է ունենան գիտելիքներ
      վեբ ծրագրավորման բոլոր ճյուղերից, կարողանան կարգավորել Windows կամ Linux սերվերներ,
      գրել server-side API-ներ և այլն։
    </p>
    <div class="creat_button_block">
      <button routerLink="/sign-in">Գրանցվել</button>
    </div>
  </div>
</div>
