.container_ {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  margin:  150px 0 50px;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #000000;
}

.about_course ul {
  margin: 0;
  padding: 0;
}

.about_course ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_course ul li:nth-child(2n +2) {
  margin: 20px 0;
}

.about_course ul li span {
  display: inline-block;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #101010;
}

.about_course h4 {
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #101010;
}

.about_course p {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000000;
  width: 623px;
  overflow: auto;
}

.about_course .creat_button_block {
  text-align: right;
  margin-bottom: 100px;
}

.about_course .creat_button_block button {
  background: #06295E;
  border-radius: 0px 20px;
  display: inline-block;
  width: 220px;
  height: 50px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FCFCFC;
  padding: 13px 52px;
}

@media screen and (max-height: 1400px) {
  .container_ {
    width: 1200px;
  }

  .container_ .img img {
    width: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .container_ {
    width: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .container_ .img img {
    width: 450px;
  }

  .about_course {
    width: 523px;
  }

  .about_course p {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .container_ {
    width: 800px;
    align-items: stretch;
  }

  .container_ .img img {
    width: 345px;
  }

  .about_course {
    width: 412px;
  }
}

@media screen and (max-width: 880px) {
  .container_ {
    width: 95%;
  }

}

@media screen and (max-width: 811px) {
  .container_ {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 430px){
  .about_course ul li span {
    font-size: 14px;
  }
  .about_course h4 {
    font-size: 18px;
  }
}
