@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  box-sizing: border-box;
}
button{
  border: none;
}
ul li{
  list-style-type: none;
}
a{
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
}

